/* 
    @리셋을쓴이유

    1.AdorableCSS는 AtomicCSS를 더하면서 조립하는 방식이기에 가급적
    하드리셋을 추구하는 방향으로 설계하는 편이 좋다고 생각했습니다.

    2.table, a, button, img 역시 다루기 편하게 하드리셋을 택했습니다.

    3.box-sizing:border-box, overflow-wrap,
    webkit-text-size-adjust와 같이 default보다 좋은 값이 있으면 설정해주고 싶었습니다.
*/

*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{
    list-style: none;
}


button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
  
  select,
  input,
  textarea,
  button {
    font: inherit;
    -webkit-appearance: none;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input:disabled {
    background-color: rgba(255, 255, 255, 0);
    cursor: not-allowed;
  }
  
  select {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  
  input,
  textarea {
    border: 0;
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    /* Chrome, Safari, Firefox */
    color: #444;
    opacity: 1;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    /* Chrome, Safari, Firefox */
    color: #444;
    opacity: 1;
  }
  input::placeholder,
  textarea::placeholder {
    /* Chrome, Safari, Firefox */
    color: #444;
    opacity: 1;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* IE, Edge */
    color: #444;
    opacity: 1;
  }
  input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
    /* Chrome, Safari, Firefox */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
    /* Chrome, Safari, Firefox */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  input[readonly]::placeholder, input:disabled::placeholder,
  textarea[readonly]::placeholder,
  textarea:disabled::placeholder {
    /* Chrome, Safari, Firefox */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
  textarea[readonly]:-ms-input-placeholder,
  textarea:disabled:-ms-input-placeholder {
    /* IE, Edge */
    color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  input::-ms-clear, input::-ms-reveal,
  textarea::-ms-clear,
  textarea::-ms-reveal {
    /* IE, Edge */
    display: none;
  }
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
  textarea::-webkit-inner-spin-button,
  textarea::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
