.footer{
    background-size: cover;
    position: relative;
    overflow: hidden;

    .bg-area{
    position: absolute;
    background: #4d3d30;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    aspect-ratio: 2.3783783784;
    object-fit: cover;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }

    .info{        
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: max(10px,1.6rem);
        color: #ddd4c6;
        li{
            --background: #275efe;
            --text: #fff;
            --font-size: 16px;
            --duration: .44s;
            margin-bottom:0.3rem;
            a{                
                font-weight: 450;
                --duration: .44s;
                --move-hover: -4px;
                font-size: 1rem;
                line-height: 1;
                --font-shadow: var(--font-size);
                &:hover{
                    text-decoration: underline;
                    --font-shadow: calc(var(--font-size) * -1);
                }
                &:hover span{
                    --m: calc(var(--font-size));
                }                
                div{
                    display: flex;
                    overflow: hidden;
                    text-shadow: 0 var(--font-shadow) 0 var(--text);
                    span{
                        display: block;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        font-style: normal;
                        transition: transform var(--duration) ease;
                        transform: translateY(var(--m)) translateZ(0);
                        &:nth-child(1){transition-delay: 0.05s;}
                        &:nth-child(2){ transition-delay: 0.1s;}
                        &:nth-child(3){transition-delay: 0.15s;}
                        &:nth-child(4){ transition-delay: 0.2s;}
                        &:nth-child(5){transition-delay: 0.25s;}
                        &:nth-child(6){transition-delay: 0.3s;}
                        &:nth-child(7){transition-delay: 0.35s;}
                        &:nth-child(8){transition-delay: 0.4s;}
                        &:nth-child(9){transition-delay: 0.45s;}
                    }
                }
            }
        }
        .left{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 2rem;
            gap: 2rem;
        }
    }

    h2{
    font-size:10rem;
    position: relative;
    color: #f4f0ea;
    text-transform: uppercase;
    text-align: center;
    padding-block: max(80px,15rem);
    }

    small{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,21,20,.3);
    padding: 30px 20px;
    }
}